.sticky-navbar {
    position: sticky; /* Change to fixed if you want it to stay fixed on top of the viewport */
    top: 0; /* Stick to the top of the viewport */
    z-index: 1000; /* Make sure it is above other content */
    transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition */
}
/* Add this to your public-navbar.component.css */
.custom-margin {
    margin-top: 15px; /* Change this value as needed */
}
