<div class="flex items-center justify-center bg-gradient-to-b from-white to-blue-50">
    <div class="bg-white max-w-md w-[400px] rounded-3xl p-8 border-4 border-white shadow-lg shadow-blue-100 rounded-lg">
      <h2 class="text-3xl font-extrabold text-center text-blue-900">Reschedule Appointment</h2>
      
      <!-- Display current date and time -->
      <!-- <div class="text-center mb-4">
        <p class="text-lg text-gray-700">Current Date: {{ currentDate }}</p>
        <p class="text-lg text-gray-700">Current Time: {{ currentTime }}</p>
      </div> -->
      
      <form [formGroup]="rescheduleForm" (ngSubmit)="rescheduleAppointment()" class="mt-5">
        <div class="mb-4">
          <label for="appointmentDate" class="block text-sm font-medium">New Date</label>
          <input type="date" id="appointmentDate" formControlName="appointmentDate"
                 class="w-full p-4 rounded-2xl shadow-lg shadow-cyan-50 border-2 border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400">
        </div>
        <div class="mb-4">
          <label for="appointmentTime" class="block text-sm font-medium">New Time</label>
          <input type="time" id="appointmentTime" formControlName="appointmentTime"
                 class="w-full p-4 rounded-2xl shadow-lg shadow-cyan-50 border-2 border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400">
        </div>
        <button type="submit" [disabled]="rescheduleForm.invalid"
                class="w-full bg-blue-900 hover:bg-blue-950 text-white rounded-full py-3 px-4">
          Reschedule Appointment
        </button>
      </form>
      <div class="mt-6 text-center">
        <button (click)="onClose()" class="w-full bg-gray-100 text-gray-700 py-3 rounded-full shadow-md hover:bg-gray-200 transition duration-200">
          Close
        </button>
      </div>
    </div>
  </div>
  