<div class="flex items-center justify-center min-h-screen bg-gradient-to-b from-white to-blue-50">
  <div class="bg-white max-w-md w-[400px] rounded-3xl p-8 border-4 border-white shadow-lg shadow-blue-100">
    <h2 class="text-3xl font-extrabold text-center text-blue-900">Schedule an Appointment</h2>
    <form [formGroup]="scheduleForm" (ngSubmit)="scheduleAppointment()" class="mt-5">
      <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
<div>
  <label for="appointmentDate" class="block text-sm font-medium">Date</label>
  <input type="date" id="appointmentDate" formControlName="appointmentDate"
         class="w-full p-4 rounded-2xl shadow-lg shadow-gray-200 border-2 border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400">
  
  <!-- Show error message if the date is in the past -->
  <div *ngIf="scheduleForm.get('appointmentDate')?.hasError('pastDate')" class="text-red-600 text-sm mt-1">
    The selected date cannot be in the past.
  </div>
  
  <!-- Show error message if the date is on a weekend -->
  <div *ngIf="scheduleForm.get('appointmentDate')?.hasError('weekend')" class="text-red-600 text-sm mt-1">
    Appointments cannot be scheduled on weekends.
  </div>
</div>

<div>
  <label for="appointmentTime" class="block text-sm font-medium">Time</label>
  <input type="time" id="appointmentTime" formControlName="appointmentTime"
         (focus)="showTimeHint = true"
         (blur)="showTimeHint = false"
         class="w-full p-4 rounded-2xl shadow-lg shadow-gray-200 border-2 border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400">
  
  <!-- Conditionally display the message based on input focus -->
  <div *ngIf="showTimeHint" class="text-red-400 text-sm mt-1">
    Please select a time between 9:00 AM and 4:30 PM.
  </div>
</div>

      </div>

      <div class="mb-4">
        <label for="appointmentType" class="block text-sm font-medium">Appointment Type</label>
        <select id="appointmentType" formControlName="appointmentType"
                class="w-full p-4 rounded-2xl shadow-lg shadow-gray-200 border-2 border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400">
          <option value="" disabled>Select Appointment Type</option>
          <option *ngFor="let type of appointmentTypes" [value]="type">{{ type }}</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="appointmentReason" class="block text-sm font-medium">Reason</label>
        <select id="appointmentReason" formControlName="appointmentReason"
                class="w-full p-4 rounded-2xl shadow-lg shadow-gray-200 border-2 border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400">
          <option value="" disabled>Select Reason</option>
          <option *ngFor="let reason of appointmentReasons" [value]="reason">{{ reason }}</option>
        </select>
      </div>

      <div class="mb-4">
        <label for="notes" class="block text-sm font-medium">Note</label>
        <textarea id="notes" formControlName="notes" rows="3"
                  class="w-full p-4 rounded-2xl shadow-lg shadow-gray-200 border-2 border-transparent focus:outline-none focus:ring-2 focus:ring-blue-400 placeholder-gray-400"></textarea>
      </div>

      <button type="submit" [disabled]="scheduleForm.invalid"
              class="w-full bg-blue-900 hover:bg-blue-950 text-white rounded-full py-3 px-4 bg-hover:from-sky-650 hover:to-blue-950 text-white shadow-lg ">
        Schedule Appointment
      </button>

      <button type="button"
      (click)="autoScheduleAppointment()"
      matTooltip="This button automatically schedules an appointment at the first time and date available."
      class="w-full bg-sky-600 hover:bg-sky-700 text-white rounded-full py-3 mt-4">
      Auto-Schedule Appointment
     </button>


    </form>
    <div class="mt-6 text-center">
      <button (click)="onClose()" class="w-full bg-gray-100 text-gray-700 py-3 rounded-full shadow-md hover:bg-gray-200 transition duration-200">
        Close
      </button>
    </div>
  </div>
</div>
